.Cart-inner {
    margin: calc(50vh - 203px) auto;
    background-color: #fff;
    width: 960px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    padding-bottom: 89px;
}

.Cart-header {
    background-color: #F5F5F5;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 20px;
    border-radius: 10px 10px 0 0;
}

.Cart-title {
    font-size: 32px;
}

.Cart-close {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #767676;
    background: #EFEFEF;
    width: 76px;
    height: 21px;
}

.Cart-items {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    margin-top: 71px;
    margin-bottom: 20px;
}

.Cart-item {
    border-bottom: 1px dashed #ccc;
}

.Cart-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Cart-text {
    margin-right: 53px;
}

.Cart-sum {
    margin-right: 120px;
}