.Article-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 40px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.Article-edition {
    margin-bottom: 18px;
}

.Article-made,
.Article-categori,
.Article-price {
    margin-bottom: 20px;
}

.Article-price {
    font-size: 24px;
    font-weight: 700;
}

.Article-btn {
    width: 76px;
    height: 21px;
    cursor: pointer;
}