.Title {
    color: #000;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    padding-top: 20px;
}