.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  padding: 20px 10px;
  color: #000;
  font-size: 16px;
}

.Item-price {
  margin-left: auto;
  margin-right: 16px;
  color: #404040;
  font-size: 18px;
}

.Item-count  {
  margin-right: 18px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-btn {
  cursor: pointer;
}