.Footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Footer--hidden {
    display: none;
}

.Footer-text {
    margin-right: 53px;
}

.Footer-sum {
    margin-right: 120px;
}