.Nav {
    display: flex;
    margin-right: auto;
}

.Nav-link {
    color: #0087E9;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
}
  
.Nav-link a:active,
.Nav-link a:visited {
    color: #0087E9;
}