/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-link {
  margin-right: auto;
  color: #0087E9;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
