.ProfileCard {
    padding-left: 20px;
}

.ProfileCard p {
    margin-bottom: 30px;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ProfileCard span {
    font-weight: 700;
}

.ProfileCard-name {
    margin-top: 30px;
}

.ProfileCard-tel {
    margin-top: -5px;
}

.ProfileCard-email {
    margin-top: -11px;
}